table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
    height: 10px;
}
td{
    border: 1px solid black;
    width: 100px;
    height: 30px;
}
.row1{
    background-color: #218f8f;
    color: white;
    transition: 1s;
}
.row1:hover{
    background-color: #E06219;
    transition: 1s;
 }
.row2{
background-color: #f5f521;
    color: black;
    transition: 1s;
}
.row2:hover{
    background-color: #7B19E0;
    transition: 1s;
}
.traffic_light_position, .traffic_light_transform{
    border: 1px solid black;
    border-radius: 10px;
    background-color: grey;
    width: 85px;
    height: 190px;
}
.circle{
    border: 1px solid black;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.red-circle {
background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.traffic_light_position{
    position: absolute;
    top: 200px;
    left: 30px;
}
.traffic_light_position>.red{
    position: relative;
    top: 10px;
    left: 15px;
}
.traffic_light_position>.yellow{
    position: relative;
    top: 15px;
    left: 15px;
}.traffic_light_position>.green{
     position: relative;
     top: 20px;
     left: 15px;
 }
 .traffic_light_transform{
     transform: translate(150px, 52px);
 }
.traffic_light_transform>.red{
    transform: translate(15px, 10px);
}
.traffic_light_transform>.yellow{
    transform: translate(15px, 15px);
}
.traffic_light_transform>.green{
    transform: translate(15px, 20px);
}